.WsImages2 {
	clear: both;
	vertical-align: bottom;
	position: relative;
	border: 5px solid #bdbdbd;
}

.WsImages2 p {
	width: 17em;
	height: 100%;
	float: right;
	background-color: #4e545e; filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;
}
.WsImages2 p * {
	background-color: transparent; filter:alpha(opacity=100);-moz-opacity:1;opacity: 1;
	color: #FFF;
	font-size: 80%;
}

.WsImages2 .countImages {
	height: .9em;
	width: 15em;
	padding: .3em;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
}

.WsImages2 .countImages a {
	background-color: #fff; filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;
	margin: .1em;
	line-height: .7em;
	width: .7em;
	float: left;
	text-decoration: none;
}

.WsImages2 .countImages a.selected {
	background-color: #0067b1; filter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;
}

